/* 全局样式  */
* {
    margin: 0;
    padding: 0;
}

.w {
    margin: auto;
    width: 1200px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 内部设置 */
.main2 {
    /* margin-top: 10px; */
    height: 50px;
    background-color: rgb(179, 238, 102, 0.4);
    box-shadow: 8px 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.div-um2 {
    float: left;
}

/* .um2 {
    float: left;

} */

.um2 li {
    display: inline-block;
    /* line-height: 50px; */
    border-right: 2px solid rgb(0, 0, 0, 0.4);
    padding: 15px 15px;
}

.last0 {
    float: right;
    border: 2px solid rgb(0, 0, 0, 0.4);
    border-top: 0;
    border-bottom: 0;

    padding: 15px 15px;
}

.um2 li a {
    color: gray;
}